.movieRowWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.row::-webkit-scrollbar {
  display: none; /* Chrome */
}

.scrollBtn {
  position: absolute;
  top: 40%;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 5px 10px;
}

.scrollBtn.left {
  left: 0;
}

.scrollBtn.right {
  right: 0;
}
