.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  color: white;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #e50914; /* vermelho Netflix */
}
